POSTGRES_DB="pair"
POSTGRES_PASSWORD="pair"
POSTGRES_USER="pair"
POSTGRES_PORT=5432
POSTGRES_HOST="postgres"

VITE_ENTRA_APP_CLIENT_ID=""
VITE_ENTRA_APP_TENANT_ID=""

# For seeding data
OLLAMA_API_KEY=""